@import app.models.Tables.PostsRow
@import util._

@(post: PostsRow)

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>@post.title</title>
        @if(post.pageDescription == None) {
            <meta name="description" content="@post.title">
        } else {
            <meta name="description" content="@post.pageDescription">
        }
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/blog.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/typography.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/height.css")">
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">

                <div id="content" class="col-md-8">
                    <h2 id="post-title">@post.title <small>- @post.publishedAt.get.format("dd MMM yyyy")</small></h2>
                    <div id="post-content">@Html(post.content)</div>
                    <a href="@routes.HomeController.index()" class="btn-custom btn-post">Back to Blog Index</a>
                </div>

                <div id="side" class="col-md-4">@sidebar()</div>

            </div>
        </div>
    </body>

</html>