<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Renato K. Araujo - Software Engineer - Resume | CV</title>
        <meta name="description" content="Renato's Software Engineer resume / CV">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/blog.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/typography.css")">
    </head>

    <body>
        <div class="container" id="content">
            <div class="row">
                <div class="col-md-12">
                    <h1>Renato K. Araujo</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a href="mailto:me@@renato.software">Email</a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.linkedin.com/in/rkaraujo/en" target="_blank">Linkedin</a>
                </div>
                <div class="col-md-2">
                    <a href="https://github.com/rkaraujo/" target="_blank">Github</a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/rkaraujo" target="_blank">Twitter</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Summary</h2>
                </div>
                <div class="col-md-8 resume-info">
                    <p>
                        I am a Software Engineer with thirteen years of professional experience in developing Java web applications and websites.
                        I am a generalist and began as a full stack Java web developer, but in the last six years I am working more with backend software and web services in a high audience website.
                        I am also a Sun Certified Java Programmer (SCJP) and have some experience configuring Linux servers.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Skills</h2>
                </div>
                <div class="col-md-8 resume-info">
                    <ul class="list-unstyled">
                        <li>Java based websites and web applications (12 years);</li>
                        <li>Spring and Hibernate frameworks (8 years);</li>
                        <li>Apache Solr;</li>
                        <li>RabbitMQ, AMQP, Messaging and Queue Systems;</li>
                        <li>Kanban, Scrum, Agile Methodologies;</li>
                        <li>Postgresql, MySQL and Oracle databases;</li>
                        <li>Memcached, Redis;</li>
                        <li>REST, JSP, Velocity, JSF;</li>
                        <li>HTML, CSS, Javascript, Bootstrap;</li>
                        <li>Maven, Jenkins, Eclipse;</li>
                        <li>Jetty, Tomcat, Jboss, Apache, Nginx;</li>
                        <li>Git, Subversion;</li>
                        <li>Refactoring, Design Patterns;</li>
                        <li>Linux Servers;</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Certifications</h2>
                </div>
                <div class="col-md-8 resume-info">
                    <ul class="list-unstyled">
                        <li>Sun Certified Java Programmer - SCJP - Sun Microsystems;</li>
                        <li>Web Application Architectures - Coursera;</li>
                        <li>Shaping Up with Angular.JS - Code School;</li>
                        <li>TOEIC - Test of English for International Communication;</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Languages</h2>
                </div>
                <div class="col-md-8 resume-info">
                    <ul class="list-unstyled">
                        <li>Portuguese - Native;</li>
                        <li>English - Professional proficiency;</li>
                        <li>Japanese - Elementary proficiency;</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Education</h2>
                </div>
                <div class="col-md-8">
                    <h3>Universidade de São Paulo</h3>
                    <p>
                        Bachelor's degree, Computer Science: 1999 - 2002
                        <ul>
                            <li>Merit based 100% scholarship;</li>
                            <li>Top Brazilian University and Second in Latin America - <a href="http://www.topuniversities.com/university-rankings/latin-american-university-rankings/2014" target="_blank">Link</a>;</li>
                            <li>Position 51-100 in Computer Science Course World Ranking - <a href="http://www.topuniversities.com/university-rankings/university-subject-rankings/2013/computer-science-and-information-systems?loc=Brazil" target="_blank">Link</a>;</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h2>Experience</h2>
                </div>
                <div class="col-md-8">
                    <h3>Senior Software Engineer - UOL (Universo Online) <small>| 2008 - 2015</small></h3>
                    <p>
UOL is the biggest brazilian internet portal. In Brazil, only Google, Facebook and Youtube has more visits according to Alexa.
                    </p>
                    <p>
I am working as a Software Engineer in the price comparison system named Shopping UOL and did the following activities:
                <ul>
                    <li>Architecture evolution improving the update of offers in the website, showing changes faster by migrating a monolithic system to a system with horizontal scalability using queues;</li>
                    <li>Migration of an statistics of usage system using log files to an asynchronous messaging system, reducing the usage of disk space and IO;</li>
                    <li>Reduction of costs replacing paid solutions with open source software, by improving architecture and using less servers;</li>
                    <li>Improved the system build workflow, adopting Jenkins as a Continuous Integration system;</li>
                    <li>Definition of frameworks and tools adopted for the projects;</li>
                    <li>General software maintenance and improvement, making the system more resilient and using more up to date Java frameworks and tools.</li>
                </ul>
                    </p>

                    <h3>Software Engineer - Econolig Tecnologia <small>| 2006 - 2008</small></h3>
                    <p>
Java Software Engineer for an application that audits phone bills and helps with the reduction of phone costs. Definition of the architecture and technology to be used. Configuration of Linux Servers and support tools as Tomcat, MySql, Hudson and Jira.
                    </p>

                    <h3>Consultant - Nextel <small>| 2005 - 2006</small></h3>
                    <p>
Java Programmer in charge of writing code for the Nextel Call Center web application in Brazil.
                    </p>

                    <h3>Software Developer - Politec <small>| 2004 - 2005</small></h3>
                    <p>
Java Software Developer for the frontend of a web application that manages bank slips. The client of this application was a big public brazilian bank named Caixa Economica Federal.
                    </p>

                    <h3>Software Developer - Rerum Tecnologia <small>| 2003 - 2004</small></h3>
                    <p>
Java Software Developer for a web application that manages retail stores (product register, stock control).
                    </p>

                    <a href="@routes.HomeController.index()" class="btn-custom btn-show">Back to Index</a>
                </div>
            </div>

        </div>
    </body>

</html>
